<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-lg border-0 rounded-4">
      <div class="card-body p-5">
        <h2 class="text-center mb-2 fw-bold text-primary">✨ Créer ton compte</h2>
        <p class="text-center text-muted mb-4">Rejoins notre plateforme et boost ton business grâce l'IA spécialisée de <strong>BYB</strong></p>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="mb-3">
            <%= f.input :email,
              required: true,
              autofocus: true,
              label: "Email",
              input_html: { class: "form-control rounded-pill" } %>
          </div>

          <div class="mb-3">
            <%= f.input :password,
              required: true,
              hint: ("Minimum #{@minimum_password_length} caractères" if @minimum_password_length),
              label: "Mot de passe",
              input_html: { class: "form-control rounded-pill" } %>
          </div>

          <div class="mb-4">
            <%= f.input :password_confirmation,
              required: true,
              label: "Confirmer le mot de passe",
              input_html: { class: "form-control rounded-pill" } %>
          </div>

          <%= f.button :submit, "Créer mon compte", class: "btn btn-primary w-100 rounded-pill fw-bold shadow-sm" %>
        <% end %>

        <hr class="my-4">

        <p class="text-center mb-0">
          Tu as déja un compte?
          <%= link_to "Se connecter", new_session_path(resource_name), class: "fw-bold text-decoration-none" %>
        </p>
      </div>
    </div>
  </div>
</div>
