<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path ,class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Dashboard", companies_path, class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="companiesDropdown"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mes entreprises
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-companies"
                aria-labelledby="companiesDropdown">
              <% if @companies.present? %>
                <% @companies.each do |company| %>
                  <li><%= link_to company.name, company_path(company), class: "dropdown-item" %></li>
                <% end %>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Créer une entreprise", new_company_path, class: "dropdown-item" %></li>
              <% else %>
                <li class="dropdown-item text-muted">Aucune entreprise</li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Créer une entreprise", new_company_path, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>

          <li class="nav-item">
            <%= link_to "Déconnexion", destroy_user_session_path,
                        data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
