<div class="container-fluid">
  <div class="row" data-controller="toggle">
    <nav class="col-md-3 sidebar pt-3 border-end" data-toggle-target="hideable">
      <%= render "shared/sidenav", companies: @companies %>
    </nav>

    <main class="col-md-9 pt-3">
      <%= link_to "#",
                  class: "d-none nav-link text-dark mb-3",
                  data: { action: "click->toggle#call", toggle_target: "show" } do %>
        <i class="fa-regular fa-square-caret-right"></i>
      <% end %>

      <div class="card mb-4 shadow-sm rounded-5">
        <img src="https://wallpapers.com/images/hd/blue-4k-firewall-web-spdkbjergnyqvzcf.jpg" class="card-img-top rounded-top-5" alt="Image entreprise" style="height: 50vh; object-fit: cover;">
        <div class="card-body mx-2">
          <h2 class="card-title text-primary"><%= @companies.first.name %></h2>
          <p class="card-text"><%= @companies.first.description %></p>

          <div class="d-flex gap-2">
            <%= link_to "Chat", "#", class: "btn btn-primary" %>
            <%= link_to "Edit", "#", class: "btn btn-outline-secondary" %>
            <%= link_to "Supprimer", "#",
                        data: { turbo_method: :delete, turbo_confirm: "Supprimer cette entreprise ?" },
                        class: "btn btn-outline-danger" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 ">
          <div class="card shadow-sm mb-3 rounded-5">
            <div class="card-body">
              <h3 class="card-title">Titre aléatoire 1</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut erat.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card shadow-sm mb-3 rounded-5">
            <div class="card-body">
              <h3 class="card-title">Titre aléatoire 2</h3>
              <p class="card-text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card shadow-sm mb-3 rounded-5">
            <div class="card-body">
              <h3 class="card-title">Titre aléatoire 3</h3>
              <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
