<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-5">
    <div class="card shadow-lg border-0 rounded-4">
      <div class="card-body p-5">
        <h2 class="text-center mb-4 fw-bold text-primary">
          🚀 Welcome back
        </h2>
        <p class="text-center text-muted mb-4">
          <strong>Connecte toi et accède à nos fonctionnalités IA</strong>
        </p>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-3">
            <%= f.input :email,
              required: true,
              autofocus: true,
              input_html: { class: "form-control rounded-pill" },
              label: "Email" %>
          </div>
          <div class="mb-3">
            <%= f.input :password,
              required: true,
              input_html: { class: "form-control rounded-pill" },
              label: "Mot de passe" %>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <%= link_to "Mot de passe oublié?", new_password_path(resource_name), class: "small text-decoration-none" %>
          </div>
          <%= f.button :submit, "Me connecter", class:"btn btn-primary w-100 rounded-pill fw-bold shadow-sm" %>
        <% end %>
        <hr class="my-4">
        <p class="text-center mb-0">
          Nouveau ici?
          <%= link_to "Créer un compte", new_registration_path(resource_name), class: "fw-bold text-decoration-none" %>
        </p>
      </div>
    </div>
  </div>
</div>
